* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; }
  *::selection {
    color: brown; }

.general {
  background-image: linear-gradient(90deg, #ce9092, #d49697, rgba(232, 203, 203, 0.742));
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "header header header" "ciudad ciudad ciudad" "container container container" "footer footer footer";
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  width: 100vw;
  height: 100vh; }

#header {
  background-color: brown;
  grid-area: header;
  width: 100vw;
  height: 990px; }

.titulo {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
  text-align: center;
  padding: 10px;
  color: white;
  height: 10%; }
  .titulo .titulo__expand {
    -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.ciudad {
  grid-area: ciudad; }
  .ciudad .ciudad__listas__reseteo, .ciudad .ciudad__span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .ciudad .ciudad__listas__reseteo li, .ciudad .ciudad__span li {
      list-style-type: none; }
    .ciudad .ciudad__listas__reseteo a, .ciudad .ciudad__span a,
    .ciudad .ciudad__listas__reseteo .ciudad__listas__reseteo a:link,
    .ciudad .ciudad__span .ciudad__listas__reseteo a:link,
    .ciudad .ciudad__listas__reseteo .ciudad__span a:link,
    .ciudad .ciudad__span .ciudad__span a:link,
    .ciudad .ciudad__listas__reseteo a:visited,
    .ciudad .ciudad__span a:visited,
    .ciudad .ciudad__listas__reseteo a:active,
    .ciudad .ciudad__span a:active {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding: 10px; }
    .ciudad .ciudad__listas__reseteo a:hover, .ciudad .ciudad__span a:hover {
      color: #f7dddd; }
  .ciudad .ciudad__nav__img {
    background-image: url "../assets/img/TandilyDique.jpeg";
    width: 97vw;
    opacity: 0.9;
    filter: alpha(opacity=80);
    zoom: 1;
    margin-left: 10px; }
  .ciudad .ciudad__span {
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    color: white; }

.footer {
  width: 100vw;
  background-color: brown;
  height: auto;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around; }
  .footer h1, .footer h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    color: black; }
  .footer .footer__comunicarse,
  .footer .correo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; }
  .footer .footer__comunicarse {
    padding: 20px; }
  .footer .correo__mailto {
    font-size: 1.2rem;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    color: black; }

.container {
  width: 100vw;
  text-align: center; }
  .container #sectuno {
    overflow: hidden; }
    .container #sectuno h2 {
      text-align: center;
      font-size: 2em;
      font-family: "Dancing Script", cursive;
      padding: 20px; }
    .container #sectuno a {
      color: white; }
    .container #sectuno p {
      margin: 50px;
      font-size: 1.3em;
      text-align: justify; }

#sectdos > .enumera {
  font-size: 1.3em;
  font-weight: bold;
  margin: 50px;
  line-height: 3;
  background: #c76464;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: justify;
  list-style-type: none; }

.vistaPanoramica {
  width: 100%; }

/*BOOTSTRAP*/
/*BARRA DE NAVEGACION*/
.titulo__expand {
  -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.foto {
  background-image: url "../assets/img/TandilyDique.jpeg";
  width: 100vw;
  height: 400px;
  opacity: 0.7;
  filter: alpha(opacity=80);
  zoom: 1; }

.header,
.navbar {
  background-color: brown; }

.navbar-nav {
  font-size: 1.2rem; }

a:hover {
  border: none !important;
  color: #050505 !important; }

.te_cuento {
  background-color: brown;
  width: 100vw;
  font-size: 2rem;
  text-align: center;
  font-family: "Dancing Script", cursive; }

body {
  background-image: linear-gradient(90deg, #ce9092, #c99c9d, rgba(232, 203, 203, 0.742));
  overflow-x: hidden; }

/*FOOTER con BOOTSTRAP*/
footer {
  background-color: brown; }

footer > h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem; }

.text-black {
  font-size: 2rem; }

.informe {
  font-size: 1rem; }

.bi {
  color: black; }

#correo > h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem; }

.correo__email {
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  font-family: "Dancing Script", cursive;
  text-decoration: none; }

/*TRANSPORTE URBANO PASAJEROS*/
/*ACCORDION BOOTSTRAP EN TRANQPORTE URBANO*/
.accordion {
  background-color: transparent !important;
  opacity: 0.8 !important; }

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem brown !important;
  color: brown !important;
  background-color: #c08383 !important; }

.accordion-button:hover {
  color: #c38587; }

.accordion-button:active {
  color: brown !important;
  background: #8f4f4f !important; }

.accordion-button {
  background-color: #c67777 !important;
  font-family: "Dancing Script", cursive !important;
  font-size: 1.4rem !important;
  color: black !important; }

.accordion-item {
  background-color: #c36e6e !important;
  border: none !important; }
