/*MAIN TRANSPORTE URBANO PASAJEROS*/

#titulo{
    color: map-get($theme-colors, "anchor");
    font-family: $font-ciudad;
            }     
  /*ACCORDION BOOTSTRAP EN TRANQPORTE URBANO*/

  .bus{
    @extend #titulo;
  }
  .accordion{
    background-color: transparent!important;
    opacity: 0.8 !important;
    border: $background-header;
 
    .accordion-item{
        background-color: map-get($theme-colors, "accordionItem");
        border: none!important;
    .accordion-button{
        background-color: rgb(198, 119, 119) !important;
        font-family: $font-ciudad;
        font-size: 1.4rem !important;
        color: map-get($theme-colors, "anchor");
      
        &:focus{
    box-shadow: 0 0 0 0.25rem brown!important;
    color: map-get($theme-colors, "danger");
    background-color: #c08383 !important;
        } 
    &:hover{
    color:map-get($theme-colors, "danger");
    }
   
      &:active{
        color:map-get($theme-colors, "danger");
        background-color: map-get($theme-colors, "danger");
    }
    }

}
}


